html {
  scroll-behavior: smooth;
}

.header {
  background: #edf2ec;
  position: absolute;
  width: 1440px;
  height: 134px;
  left: 0px;
  top: 0px;
  margin: 0 auto;
}

.header_item {
  list-style-type: none;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header_home {
  position: absolute;
  width: 452px;
  height: 50px;
  left: 839px;
  top: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header_logo_link {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 111px;
  top: 52px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header_link {
  position: absolute;
  width: 58.13px;
  height: 17px;
  left: 132.05px;
  top: 56.04px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header_house {
  height: 50px;
  color: #010201;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.header_about {
  height: 50px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
  text-decoration: none;
}

.header_service {
  height: 50px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
  text-decoration: none;
}

.header_price {
  height: 50px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
  text-decoration: none;
}

.header_contacts {
  height: 50px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
  text-decoration: none;
}

a:hover {
  color: #e06733;
  font-weight: 500;
}

.welcome {
  position: absolute;
  width: 1440px;
  height: 532px;
  left: 0px;
  top: 134px;
  background: #edf2ec;
}

.welcome_section {
  position: absolute;
  width: 1222px;
  height: 407.36px;
  left: 109px;
  top: 62px;
}

.leafs_welcome {
  width: 448.8px;
  height: 407.36px;
}

.welcome_sec {
  position: absolute;
  width: 549px;
  height: 340px;
  left: 673px;
  top: 34px;
}

.welcome_main_text {
  width: 549px;
  height: 340px;
}

.wel_main_text {
  width: 549px;
  height: 101px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-top: 2px;
}

.wel_sec_text {
  width: 525.44px;
  height: 105px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin-top: 42px;
}

.btn {
  width: 158px;
  height: 44px;
}

.learn_more {
  width: 104px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.green_text {
  color: #499a18;
}

.button {
  box-sizing: border-box;
  width: 158px;
  height: 44px;
  border: 2px solid #e06733;
  border-radius: 10px;
  background-color: #edf2ec;
  text-decoration: none;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 28px;
}

.about {
  position: absolute;
  width: 1440px;
  height: 666px;
  left: 0px;
  top: 666px;
  background: #ffffff;
}

.about_section {
  position: absolute;
  width: 1222px;
  height: 479px;
  left: 109px;
  top: 93px;
}

.houseplant {
  width: 464px;
  height: 479px;
  float: right;
}

.about_main_text {
  width: 463px;
  height: 102px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-top: 68px;
}

.orange_text {
  color: #e06733;
}

.about_sec_text {
  width: 605px;
  height: 208px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  margin-top: 40px;
}

.service {
  position: absolute;
  width: 1440px;
  height: 1300px;
  left: 0px;
  top: 1332px;
  background: #edf2ec;
}

.services_content {
  width: 1007px;
  height: 94px;
}

.text_services {
  position: absolute;
  width: 306px;
  height: 94px;
  left: 109px;
  top: 40px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 9px;
}

.services_btns {
  width: 559px;
  height: 50px;
}

.service_button_first {
  box-sizing: border-box;
  position: absolute;
  width: 161px;
  height: 50px;
  left: 955px;
  top: 69px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  background-color: #edf2ec;
  cursor: pointer;
  margin-left: 8px;
}

.service_button_second {
  box-sizing: border-box;
  position: absolute;
  width: 161px;
  height: 50px;
  left: 756px;
  top: 69px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  background-color: #edf2ec;
  cursor: pointer;
  margin-left: 8px;
}

.service_button_third {
  box-sizing: border-box;
  position: absolute;
  width: 161px;
  height: 50px;
  left: 557px;
  top: 69px;
  border: 1px solid #e06733;
  border-radius: 5px;
  position: absolute;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  background-color: #edf2ec;
  cursor: pointer;
  margin-left: 8px;
}

.service_button_first:hover {
  background-color: #e06733;
  color: #ffffff;
}

.service_button_second:hover {
  background-color: #e06733;
  color: #ffffff;
}

.service_button_third:hover {
  background-color: #e06733;
  color: #ffffff;
}

.button:hover {
  background-color: #e06733;
  color: #ffffff;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 1222px;
  height: 955px;
  left: 109px;
  top: 224px;
  margin-left: 10px;
  margin-top: -16px;
}

.service_item {
  width: 330px;
  height: 450px;
  margin-left: 0;
  margin-right: 0px;
  margin-bottom: 39px;
}

.garden_care {
  display: block;
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}

.box_item {
  box-sizing: border-box;
  width: 330px;
  height: 100px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  margin: auto;
  text-align: center;
}

.main_text {
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin-top: 10px;
  margin-left: -3px;
}

.second_text {
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  color: #717171;
  margin-left: -4px;
  margin-top: -5px;
}

.prices {
  position: absolute;
  width: 1440px;
  height: 560px;
  left: 0px;
  top: 2630px;
  background: #ffffff;
}

.prices_wrapper {
  width: 1222px;
  height: 405px;
}

.leafs_prices {
  position: absolute;
  width: 152px;
  height: 174.99px;
  left: 1174px;
  top: 265.01px;
}

.main_text_prices {
  position: absolute;
  width: 452px;
  height: 103px;
  left: 879px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin-top: 41px;
}

.button_price {
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 162px;
  height: 50px;
  left: 1169px;
  top: 181.01px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
  cursor: pointer;
  margin-left: -1px;
}

.button_price:hover {
  background-color: #e06733;
  color: #ffffff;
}

.pricess {
  position: absolute;
  width: 332px;
  height: 391.01px;
  left: 109px;
  top: 40px;
}

.prices_list {
  width: 135px;
  height: 49px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-top: 0;
}

.prices_item {
  width: 332px;
  height: 282.01px;
  box-sizing: border-box;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  margin-top: 60px;
  margin-left: -1px;
}

.price_item_one {
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
  margin-top: 34px;
  margin-left: 41px;
  display: flex;
}

.price_text_one {
  width: 100px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-left: 40px;
  margin-top: 16px;
}

.accordion {
  width: 16px;
  height: 16px;
  margin-top: 17px;
  margin-left: 54px;
}

.price_item_two {
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
  margin-top: 31px;
  margin-left: 41px;
  display: flex;
}

.price_text_two {
  width: 100px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-left: 40px;
  margin-top: 16px;
}

.price_item_three {
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
  margin-top: 32px;
  margin-left: 41px;
  display: flex;
}

.price_text_three {
  width: 100px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-left: 40px;
  margin-top: 16px;
}

.contacts {
  position: absolute;
  width: 1440px;
  height: 550px;
  left: 0px;
  top: 3190px;
  background: #edf2ec;
}

.contact_text {
  width: 195px;
  height: 51px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-top: 60px;
  margin-left: 622px;
}

.woman_contact {
  position: absolute;
  width: 400px;
  height: 496.99px;
  left: 109px;
  top: 53px;
}

.contacts_container {
  position: absolute;
  width: 450px;
  height: 50px;
  left: 61.18%;
  right: 7.57%;
  top: 148px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.city {
  width: 204px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  margin-left: 20px;
  margin-top: 5px;
}

.accordion_btn_city {
  width: 16px;
  height: 16px;
  margin-left: 399px;
  margin-top: -48px;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 130px;
  left: 0px;
  top: 3740px;
  background: #ffffff;
}

.content {
  position: absolute;
  width: 1222px;
  height: 50px;
  left: 109px;
  top: 40px;
}

.rolling_scopes {
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  margin-left: 506px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.year {
  position: absolute;
  height: 50px;
  left: 21.43%;
  top: calc(50% - 50px / 2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  margin-left: -223px;
  margin-top: 0;
}

.github {
  position: absolute;
  height: 50px;
  left: 59.34%;
  top: calc(50% - 50px / 2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  margin-left: -617px;
  margin-top: 0px;
  text-decoration: none;
}

.letterc {
  position: absolute;
  height: 50px;
  left: 0%;
  top: calc(50% - 50px / 2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
}

.social {
  width: 188px;
  height: 50px;
}

.social_list {
  list-style-type: none;
  display: flex;
  justify-content: end;
  margin-left: 1207px;
  margin-top: -42px;
}

.instagram,
.facebook,
.twitter,
.pinterest {
  width: 32px;
  height: 32px;
  margin-right: 22px;
}
